<%= render "shared/banner" %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @cocktails.each do |cocktail| %>
      <h2> <%= cocktail.name %> </h2>
      <%= link_to "more about this cocktail", cocktail_path(cocktail) %>
      <% end %>
    </div>
  </div>





  <%= link_to "add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


